html, body, #root {
  height: 100%;       /* Définit la hauteur pour utiliser toute la hauteur de la fenêtre */
  margin: 0;          /* Supprime la marge par défaut */
  padding: 0;         /* Supprime le padding par défaut */
  overflow-x: hidden;   /* Empêche le défilement horizontal */
  overflow-y: auto;     /* Permet le défilement vertical si nécessaire */
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}


/* Configurations générales des boutons et liens */
.button, .logout, .button-gradient {
  color: #333;  /* texte blanc pour une bonne visibilité */
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  /* ombre subtile pour un effet 3D */
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  width: 100%;
}

.logout {
  background-color: #4b4644;  /* couleur orange */
  color: #e36009;
}

.button:hover {
  color: #FFFFFF;
  background-color: #eb7222;
}

.button {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

/* Card */
.card-container {
  background-color: #FFFFFF;
  color: #333;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}

.card-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* ================================= */

.list-group {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}


.list-item:first-child {
  border-bottom: none;
}

.list-item.header {
  border-bottom: 1px solid #ccc;
}

/* ================================= */

.index-ld {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  flex: 1; /* Donne à chaque span la capacité de remplir un tiers de l'espace */
  text-align: center; /* Centre le texte dans chaque span */
}

.name-ld {
  font-size: 18px;
  color: #333;
  flex: 1; /* Donne à chaque span la capacité de remplir un tiers de l'espace */
  text-align: center; /* Centre le texte dans chaque span */
}

.index {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin-right: 1rem;
}

.name {
  font-size: 18px;
  color: #333;
}


/* Quiz Options */
.quiz-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

/* ================================= */



/* ================================= */
.nav-bg {
  background-image: url('/public/navbar-bg.png');
  background-size: cover;
}


